@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<div class="form-group">
    <label asp-for="StudioId" class="control-label"></label>
    <select asp-for="StudioId" asp-items="@(new SelectList(ViewBag.Studios, "StudioId", "Name"))" class="form-control">
        <option value="">Select Studio</option>

    </select>
    <span asp-validation-for="StudioId" class="text-danger"></span>
</div>

 <div class="form-group">
                <label asp-for="StudioId" class="control-label"></label>
                <select asp-for="StudioId" asp-items="@(new SelectList(ViewBag.Studios, "StudioId", "Name"))" class="form-control">
                    <option value="">Select Studio</option>
                    
                </select>
                <span asp-validation-for="StudioId" class="text-danger"></span>
            </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

</script>
}